.CALCULADORA{
    display: block;
    margin:0 auto ;
    padding:20px;
    background-color: rgb(255, 255, 255);
    width:300PX;
    height:400px;
    
}
.CALCULADORA td button{
    display: block;
    width:70PX;
    height:70px;
    font-size:20px;
    
}
#resultado{
    display: block;
    text-align:center;
    font-size:30px;
    margin-bottom:40px;
    width:300PX;
    height:50px;
    line-height:50px;
    background-color: rgb(255, 255, 255);
}